.logo-img {
    width: 50px;
    height: auto;
}

.newtask{
    margin-left: 0%;
}

@media (max-width: 562px){
    .newtask{
        margin-left: 1%;
        margin-right:1%;
    }
    .container {
        width: 100; 
        display: block;
        margin-left: 25%;
    }
}

@media (max-width: 767px){
    .newtask{
        margin-left: 1%;
        margin-right:21%;
    }
}