*{
box-sizing: border-box;
}

section {
  margin-top: 60px;
}
/* header images and text CSS */
.header-img {
  width: 100%;
  max-height: 70vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo-img {
  max-width: 6vw;
}

.header-titleDiv {
  top: 15%;
  bottom: 5%;
  right: 25%;
  left: 25%;
  width: 50%;
  height: 60%;
  background: rgba(4, 27, 29, 0.281);
}

h5 {
  color: #fd7e14;
}

.header-logoFont {
  font-family: "Dancing Script", cursive;
  font-size: 6vw;
  color: white;
}
/* end header */

/* button colors*/
.myBtnColor {
  color: white;
  background-color: rgb(140, 43, 94);
}
.myBtnColor:hover {
  color: rgb(245, 243, 243);
  background-color: rgb(96, 25, 72);
}
.modalBtnColor {
  border-color: rgb(91, 111, 110);
}
.modalBtnColor:hover {
  background-color: rgb(186, 209, 208);
}

/* model feedack span text */
.fontSize {
  font-size: x-small;
  border: 1px solid white;
}

/* task card css */
.card {
  border-color: rgb(60, 73, 72); 
  border-radius: 10px; 
  color: black;
  min-height: 350px;
}

.card-header{
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
  color: rgb(219, 72, 170);
}
/* task icon size and color */
.bi {
  font-size: 1.5rem;
  color: rgb(129, 126, 126);
  
}
/* colours for each task type */
.todoClr {
  background-color: rgb(246, 204, 204); 
}
.inprogressClr {
  background-color: rgb(164, 221, 233);
}
.reviewClr {
  background-color: rgb(243, 228, 190);
}
.doneClr {
  background-color: rgb(202, 248, 202);
}
